<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Você pode usar qualquer TAG no XML, desde que esteja definida em um DTD-->

    <!-- bean definitions here -->
    <!-- cada definição de bean é um objeto que o IoC criará-->


    <bean class="org.example.Developer" id="dev" autowire="byType">

<!--        <property name="computer" ref="desk"/>  Dependency Injection setter -->

    </bean>


    <bean id ="desk" class="org.example.Desktop" primary="true"> <!--primary resolve conflitos de tipo-->
    </bean>

    <bean id="lap" class="org.example.Laptop">
    </bean>

</beans>
